.nav{
    display: flex;
    justify-content: space-between;
    padding:12px;
    max-width:100%;
    background-color: #000000;
}
.nav__left{
    display:flex;
    align-items: center;
    text-align: center;
}
.nav__left h4{ 
    color:white;
    margin-left: 10px;;
}
.nav__right{
    display:flex;
    align-items: center;
    text-align: center;
}
.nav__right .MuiSvgIcon-root{
color:white;
padding:0px 10px;
}